<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robofox">

    <xacro:arg name="robofox_type" default="61814v3" />
    <xacro:arg name="physical_params_file"
        default="$(find robofox)/config/$(arg robofox_type)/physical_parameters.yaml" />

    <xacro:include filename="$(find robofox)/xacro/robofox.xacro" />

    <xacro:robofox
        physical_params_file="$(arg physical_params_file)"
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robofox>

</robot>