<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr">

    <!-- Arguments for robofox -->
    <xacro:arg name="arm_prefix" default="robofox" />
    <xacro:arg name="arm_type" default="robofox_61814v3" />
    <xacro:arg name="physical_params_file"
        default="$(find ibt_ros2_description)/config/$(arg arm_type)/physical_parameters.yaml" />
    <xacro:arg name="joint_limits_file"
        default="$(find ibt_ros2_description)/config/$(arg arm_type)/joint_limits.yaml" />

    <!-- Amr combo base -->
    <xacro:include filename="$(find ibt_ros2_description)/xacro/amr/amr.xacro" />
    <!-- Robotic arm -->
    <xacro:include filename="$(find ibt_ros2_description)/xacro/robofox/robofox.xacro" />

    <!-- Tray Gripper -->
    <xacro:include filename="$(find tray_gripper)/xacro/tray_gripper.xacro" />
    <!-- Camera Tray Gripper -->
    <xacro:include filename="$(find camera_tray)/xacro/camera_tray.xacro" />

    <!-- Realsense D415 camera -->
    <xacro:arg name="use_nominal_extrinsics" default="false" />
    <xacro:arg name="add_plug" default="false" />
    <xacro:arg name="use_mesh" default="false" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />

    <!-- ARM -->
    <xacro:amr>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:amr>
    <!-- Robofox -->
    <xacro:robofox
        arm_prefix="robofox"
        physical_params_file="$(arg physical_params_file)"
        joint_limits_file="$(arg joint_limits_file)"
        arm_type="$(arg arm_type)"
        connected_to="agv_link1"
    >
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
    </xacro:robofox>

    <!-- Gripper -->
    <xacro:tray_gripper
        connected_to="robofox_link6"
    >
        <origin xyz="0 0 0" rpy="0 0 1.57" />
    </xacro:tray_gripper>
    <!-- Camera Gripper -->
    <!-- <xacro:camera_tray
        connected_to="tray_gripper_camera"
    >
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:camera_tray> -->

    <!-- Camera docking -->
    <xacro:sensor_d415 parent="camera_docking_mount"
        use_nominal_extrinsics="$(arg use_nominal_extrinsics)" 
        add_plug="$(arg add_plug)"
        use_mesh="$(arg use_mesh)">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:sensor_d415>


</robot>