<?xml version="1.0" encoding="utf-8"?>
<robot
  name="amr" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="amr" params="amr_prefix:='' connected_to:='' *origin">

    <!-- virtual joint -->
    <xacro:unless value="${not connected_to}">
      <joint name="world" type="fixed">
        <parent link="${connected_to}" />
        <child link="${amr_prefix}base_link" />
        <xacro:insert_block name="origin" />
      </joint>
    </xacro:unless>
  <link
    name="${amr_prefix}base_link">
    <inertial>
      <origin
        xyz="-0.0019401 0.00020197 0.43265"
        rpy="0 0 0" />
      <mass
        value="95.371" />
      <inertia
        ixx="7.0414"
        ixy="-0.0020566"
        ixz="0.14914"
        iyy="7.048"
        iyz="-0.00016602"
        izz="12.614" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="${amr_prefix}base_footprint">
    <inertial>
      <origin
        xyz="0.00030419 0.00097233 0.2973"
        rpy="0 0 0" />
      <mass
        value="27.996" />
      <inertia
        ixx="1.1622"
        ixy="0.00018417"
        ixz="9.0657E-07"
        iyy="1.2308"
        iyz="-1.2244E-06"
        izz="2.3922" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/base_footprint.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.86667 0.8902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/base_footprint.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}base_footprint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="${amr_prefix}base_link" />
    <child
      link="${amr_prefix}base_footprint" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_caster_front_left_link">
    <inertial>
      <origin
        xyz="-1.1102E-16 -0.0079242 -0.027057"
        rpy="0 0 0" />
      <mass
        value="17.529" />
      <inertia
        ixx="0.15365"
        ixy="-1.93E-18"
        ixz="2.0686E-17"
        iyy="0.15493"
        iyz="-0.010987"
        izz="0.025283" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_front_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_front_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_caster_front_left_joint"
    type="revolute">
    <origin
      xyz="0.26 0.26 0.22"
      rpy="0 0 3.1416" />
    <parent
      link="${amr_prefix}base_footprint" />
    <child
      link="${amr_prefix}mpo_700_caster_front_left_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="6.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_wheel_front_left_link">
    <inertial>
      <origin
        xyz="0 0.015376 0"
        rpy="0 0 0" />
      <mass
        value="5.9448" />
      <inertia
        ixx="0.012415"
        ixy="-1.1866E-17"
        ixz="1.3603E-18"
        iyy="0.02381"
        iyz="5.4807E-21"
        izz="0.012415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_front_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_front_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_wheel_front_left_joint"
    type="revolute">
    <origin
      xyz="0 -0.0603 -0.122"
      rpy="0 0 3.1416" />
    <parent
      link="${amr_prefix}mpo_700_caster_front_left_link" />
    <child
      link="${amr_prefix}mpo_700_wheel_front_left_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="20.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_caster_back_left_link">
    <inertial>
      <origin
        xyz="1.1102E-16 -0.0079242 -0.027057"
        rpy="0 0 0" />
      <mass
        value="17.529" />
      <inertia
        ixx="0.15365"
        ixy="-1.6965E-18"
        ixz="-2.7452E-18"
        iyy="0.15493"
        iyz="-0.010987"
        izz="0.025283" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_back_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_back_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_caster_back_left_joint"
    type="revolute">
    <origin
      xyz="-0.26 0.26 0.22"
      rpy="0 0 3.1416" />
    <parent
      link="${amr_prefix}base_footprint" />
    <child
      link="${amr_prefix}mpo_700_caster_back_left_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="6.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_wheel_back_left_link">
    <inertial>
      <origin
        xyz="5.5511E-17 0.015376 0"
        rpy="0 0 0" />
      <mass
        value="5.9448" />
      <inertia
        ixx="0.012415"
        ixy="2.1868E-20"
        ixz="1.0384E-18"
        iyy="0.02381"
        iyz="4.5314E-19"
        izz="0.012415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_back_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_back_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_wheel_back_left_joint"
    type="revolute">
    <origin
      xyz="0 -0.0603 -0.122"
      rpy="0 0 -3.1416" />
    <parent
      link="${amr_prefix}mpo_700_caster_back_left_link" />
    <child
      link="${amr_prefix}mpo_700_wheel_back_left_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="20.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_caster_front_right_link">
    <inertial>
      <origin
        xyz="-5.5511E-17 -0.0079242 -0.027057"
        rpy="0 0 0" />
      <mass
        value="17.529" />
      <inertia
        ixx="0.15365"
        ixy="-1.8032E-18"
        ixz="-4.3901E-18"
        iyy="0.15493"
        iyz="-0.010987"
        izz="0.025283" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_front_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_front_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_caster_front_right_joint"
    type="revolute">
    <origin
      xyz="0.26 -0.26 0.22"
      rpy="0 0 0" />
    <parent
      link="${amr_prefix}base_footprint" />
    <child
      link="${amr_prefix}mpo_700_caster_front_right_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="6.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_wheel_front_right_link">
    <inertial>
      <origin
        xyz="-5.5511E-17 0.015376 0"
        rpy="0 0 0" />
      <mass
        value="5.9448" />
      <inertia
        ixx="0.012415"
        ixy="-1.3123E-17"
        ixz="2.103E-18"
        iyy="0.02381"
        iyz="3.6727E-20"
        izz="0.012415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_front_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_front_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_wheel_front_right_joint"
    type="revolute">
    <origin
      xyz="0 -0.0603 -0.122"
      rpy="0 0 3.1416" />
    <parent
      link="${amr_prefix}mpo_700_caster_front_right_link" />
    <child
      link="${amr_prefix}mpo_700_wheel_front_right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="20.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_caster_back_right_link">
    <inertial>
      <origin
        xyz="0 -0.0079242 -0.027057"
        rpy="0 0 0" />
      <mass
        value="17.529" />
      <inertia
        ixx="0.15365"
        ixy="-9.5824E-19"
        ixz="-1.5033E-17"
        iyy="0.15493"
        iyz="-0.010987"
        izz="0.025283" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_back_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_caster_back_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_caster_back_right_joint"
    type="revolute">
    <origin
      xyz="-0.26 -0.26 0.22"
      rpy="0 0 0" />
    <parent
      link="${amr_prefix}base_footprint" />
    <child
      link="${amr_prefix}mpo_700_caster_back_right_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="6.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}mpo_700_wheel_back_right_link">
    <inertial>
      <origin
        xyz="5.5511E-17 0.015376 0"
        rpy="0 0 0" />
      <mass
        value="5.9448" />
      <inertia
        ixx="0.012415"
        ixy="-2.8456E-20"
        ixz="1.0386E-18"
        iyy="0.02381"
        iyz="3.9078E-19"
        izz="0.012415" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_back_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/mpo_700_wheel_back_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}mpo_700_wheel_back_right_joint"
    type="revolute">
    <origin
      xyz="0 -0.0603 -0.122"
      rpy="0 0 3.1416" />
    <parent
      link="${amr_prefix}mpo_700_caster_back_right_link" />
    <child
      link="${amr_prefix}mpo_700_wheel_back_right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1E+16"
      upper="1E+16"
      effort="1000"
      velocity="20.5" />
    <dynamics
      damping="30"
      friction="110" />
  </joint>
  <link
    name="${amr_prefix}lidar_1_link">
    <inertial>
      <origin
        xyz="1.4146E-06 1.6443E-06 0.01114"
        rpy="0 0 0" />
      <mass
        value="0.28899" />
      <inertia
        ixx="0.00020547"
        ixy="-1.1651E-08"
        ixz="1.3037E-08"
        iyy="0.00020547"
        iyz="1.4942E-08"
        izz="0.0002783" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/lidar_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/lidar_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}lidar_2_link"
    type="fixed">
    <origin
      xyz="0.36 -0.36 0.2465"
      rpy="3.1416 0 -0.7854" />
    <parent
      link="${amr_prefix}base_link" />
    <child
      link="${amr_prefix}lidar_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="${amr_prefix}lidar_2_link">
    <inertial>
      <origin
        xyz="-1.2109E-06 -1.7996E-06 0.01114"
        rpy="0 0 0" />
      <mass
        value="0.28899" />
      <inertia
        ixx="0.00020547"
        ixy="-1.0914E-08"
        ixz="-1.1185E-08"
        iyy="0.00020546"
        iyz="-1.6374E-08"
        izz="0.0002783" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/lidar_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/lidar_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}lidar_1_link"
    type="fixed">
    <origin
      xyz="-0.36 0.36 0.2465"
      rpy="3.1416 0 2.3562" />
    <parent
      link="${amr_prefix}base_link" />
    <child
      link="${amr_prefix}lidar_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="${amr_prefix}agv_link1">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/agv_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ibt_ros2_description/meshes/amr/agv_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="${amr_prefix}agv_link1"
    type="fixed">
    <origin
      xyz="-0.237 0 1.446"
      rpy="0 0 -${pi/2}" />
    <parent
      link="${amr_prefix}base_link" />
    <child
      link="${amr_prefix}agv_link1" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- Link for the docking camera -->
  <link
    name="${amr_prefix}camera_docking_mount">
  </link>

  <joint
    name="${amr_prefix}camera_docking_mount"
    type="fixed">
    <origin
        xyz="0 -0.4105 0.1195"
        rpy="0 0 -1.57" />
    <parent
      link="${amr_prefix}base_link" />
    <child
      link="${amr_prefix}camera_docking_mount" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- Link for the calibration camera -->
  <link
    name="${amr_prefix}camera_calibration_mount">
  </link>

  <joint
    name="${amr_prefix}camera_calibration_mount"
    type="fixed">
    <origin
        xyz="0.45105 0.0 0.2825"
        rpy="0 0 0" />
    <parent
      link="${amr_prefix}base_link" />
    <child
      link="${amr_prefix}camera_calibration_mount" />
    <axis
      xyz="0 0 0" />
  </joint>

  </xacro:macro>
</robot>